.header {
  padding: 20px 0;
  text-transform: uppercase;
  border-top: 5px solid #393185;
}
.navbar {
  background: #f1f1f1;
}
.navbar li {
  font-size: 16px;
  font-family: 'PT Sans Narrow', sans-serif;
}
