.box-shadow(@shadow) {
	-webkit-box-shadow: @shadow; // iOS <4.3 & Android <4.1
	-moz-box-shadow: @shadow;
	box-shadow: @shadow;
}


.border-radius( @radius: @default-border-radius ) {
	-webkit-border-radius: @arguments;
	-moz-border-radius: @arguments;
	border-radius: @arguments;
}